/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Barlow');

/* CHANGE THE WIDTH TO MAKE RESPONSIVE!!!!!  */ 

.container {
    margin: auto;
    border-radius: 15px;
    width: 78%;
    background-color: white !important;
}

.navbar {
    height: 80px;
    vertical-align: center;
    border-bottom-style: double;
}

.navbar a {
    float: right;
    vertical-align: center;
    transform: translateY(-83px);
    font-size: 25px;
}

.navbar p {
    transform: translateX(25px);
    font-style: italic;
    font-weight: bold;
    font-size: 45px;
    padding-top: 20px;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: rgb(40, 143, 232);
}

.navbar #resume {
    padding-right: 60px;
}

.navbar #home, #email {
    padding-right: 50px;
}

.navbar #github {
    padding-right: 50px;
}

.credits {
    font-size: 20px;
    font-style: italic;
    padding-left: 25px;
    padding-top: 20px;
    width: 100%;
    white-space: nowrap;
}

.intro {
    display: flex;
    align-items: center;
    width: 100%;
    /* transform: translateY(-20px); */
    border-bottom-style: double;
    overflow-wrap: normal;
    justify-content: center;
}

.intro #int {
    /* padding-left: 75px; */
    padding-right: 75px;
    font-size: 20px;
    width: 500px;
    vertical-align: center;
    line-height: 25px;
    /* transform: translateY(40px); */
}

.intro #boats {
    /* float: right; */
    /* padding-right: 20px; */
    margin-bottom: 20px;
    padding-left: 75px;
}

.project-intro {
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 10px;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    transform: translateY(-40px);
}

.implementation {
    border-bottom-style: double;
}

.implementation #first, #second, #third {
    font-size: 20px;
    line-height: 25px;
    padding-left: 25px;
    padding-right: 25px;
    transform: translateY(-40px);
}

.implementation #third {
    height: 25px;
}

.implementation img {
    vertical-align: center;
    transform: translateY(-40px);
}

.implementation #ia, #bm {
    display: block;
    margin: auto;
}


.outro, .transfer {
    transform: translateX(25px);
    font-style: italic;
    font-weight: bold;
    font-size: 45px;
    padding-top: 5px;

}

.results {
    border-bottom-style: double;
}

.results #fourth {
    font-size: 20px;
    line-height: 25px;
    padding-left: 25px;
    padding-right: 25px;
    transform: translateY(-10px);
}

.results #fifth {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    line-height: 25px;
    padding-left: 25px;
    padding-right: 25px;
    transform: translateY(-10px);
}

.results img {
    transform: translateY(-10px);
    display: block;
    margin:auto;
}

.explanation #fourth {
    font-size: 20px;
    line-height: 25px;
    padding-left: 25px;
    padding-right: 25px;
    transform: translateY(-10px);
}

.explanation #fifth {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    line-height: 25px;
    padding-left: 25px;
    padding-right: 25px;
    transform: translateY(-10px);
}

.explanation img {
    display: block;
    margin: auto;
    transform: translateY(-10px);
}

/* CSS styles for tablets */
@media only screen and (max-width: 1100px) and (min-width: 600px){
    /* HEADER CSS */
    .container {
        width: 85%;
    }

    /* Image Analogies Header */
    .navbar p {
        /* transform: translateX(25px); */
        font-style: italic;
        font-weight: bold;
        font-size: 30px;
        padding-top: 30px;
    }


    /* Home, GitHub, Contact, and Resume header hyperlinks */
    .navbar a {
        float: right;
        transform: translateY(-59px);
        font-size: 23px;
    }

    .navbar #resume {
        padding-right: 40px;
    }

    .navbar #email {
        padding-right: 25px;
    }

    .navbar #github {
        padding-right: 25px;
    }

    .navbar #home {
        padding-right: 25px;
    }

    .credits {
        font-size: 19px;
    }

    .header {
        font-size: 25px;
        transform: translateX(-30px);
        font-style: italic;
        font-weight: bold;
    }

    .intro {
        display: inline;
    }

    .intro #int {
        display: block;
        width: 85%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        font-size: 22px;
        line-height: 30px; 
        float: none;
        margin: auto;
    }

    .intro #boats {
        display: block;
        float: none;
        padding-right: 0px;
        padding-left: 0px;
        margin: auto;
        margin-bottom: 20px;
    }

    #r {
        width: 425px;
        height: 215px;
    }

    .project-intro {
        border-top-style: double;
        font-size: 32px;
    }

    .implementation #first, #second, #third{
        line-height: 30px; 
        font-size: 22px;
    }

    .implementation #ia {
        width: 420px;
        height: auto;
    }
    
    .implementation #third {
        height: 100px;
    }

    .outro, .transfer {
        font-size: 35px;
        padding-top: 10px;
    }

    .results #fourth, .explanation #fourth {
        line-height: 30px; 
        font-size: 22px;
    }

}
  
/* CSS styles for phones */
@media only screen and (max-width: 750px) and (min-width: 0px){

    .container {
        width: 95%;
    }

    .navbar {
        text-align: center;
    }

    .navbar p {
        transform: translateX(0px);
        text-align: center;
        width: 100%;
        font-style: italic;
        font-weight: bold;
        font-size: 35px;
        padding-top: 0px;
        height: 15px;
    }

    .navbar a {
        transform: translateY(0px);
        font-size: 20px;
        text-align: center;
        float: none;
    }

    .credits {
        white-space: normal;
        font-size: 18px;
        text-align: center;
        padding-left: 0px;
    }

    .navbar #resume {
        padding-right: 20px;
    }

    .navbar #email {
        padding-right: 20px;
    }

    .navbar #github {
        padding-right: 20px;
    }

    .navbar #home {
        padding-right: 0px;
    }

    .intro #boats {
        width: 325px;
        height: 325px;
    }

    .intro #int {
        text-align: center;
    }

    .intro #int {
        display: block;
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        float: none;
        margin: auto;
    }

    .intro #boats {
        display: block;
        float: none;
        padding-right: 0px;
        padding-left: 0px;
        margin: auto;
        margin-bottom: 20px;
    }

    .project-intro {
        font-size: 32px;
        text-align: center;
        padding-left: 0px;
        border-top-style: double;
    }

    .header {
        font-size: 25px;
        font-style: italic;
        font-weight: bold;
        padding-bottom: 15px;
    }

    .implementation #ia {
        width: 325px;
        height: 162px;
    }

    .implementation #bm {
        width: 325px;
        height: 148px;
    }

    
    .implementation #first, #second, #third, #fourth, #fifth {
        text-align: center;
    }

    .intro {
        display: inline;
        margin-bottom: 100px;
    }

    .implementation #third {
        height: 180px;
    }

    .outro, .transfer{
        font-size: 32px;
        text-align: center;
        padding-left: 0px;
        transform: translateX(0px);
        padding-right: 0px;
    }

    #r {
        width: 325px;
        height: 165px;
    }

    .explanation #solo {
        width: 325px;
    }
}

